// импорт библиотек
@import '_general.scss';

//	Оглавление:

//  Стили внутри:
//	1. Пользовательские стили
//	2. Типографика
//	3. Сетка
//	4. Полосы	
//	5. Clearfix
//	6. Кнопки
//	7. Навигация
//	8. Основной заголовок
//	9. Главная страница


// Переменные для общего использования:


// 1. ПОЛЬЗОВАТЕЛЬСКИЕ СТИЛИ
//1.1 body, :root; ====================

head, body {
	height: 100%;
}

//1.2 Заголовки 
$titleBottom: 60px;
.section-title {
	font-size: 2.25rem; //36px
	text-align: center;
	margin: 0;
	margin-bottom: $titleBottom;
	@include media-breakpoint-down (md) {
		font-size: 1.9rem;			
	}
	@include media-breakpoint-down (sm) {
		font-size: 1.6em;		
		margin-bottom: $titleBottom*.8;
	}
}


// 2. ТИПОГРАФИКА


// 3. СЕТКА


// 4. ПОЛОСЫ


// 6. КНОПКИ
.btn-query {
	width: 175px;
	height: 49px;
	background-color: $query-button;
	font-size: 0.875em;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	font-weight: 500;
	display: flex;
	justify-content: center;
	align-items: center;
	&-icon {
		background: url("../img/index/envelope.svg") no-repeat 0 41%;
		width: 18px;
		height: 21px;
		margin-right: 15px;
	}
	@include media-breakpoint-down (sm) {
		width: 140px;
		height: 40px;			
	}
	@include media-breakpoint-down (xs) {
		margin-top: 15px;			
	}
}

// 7. НАВИГАЦИЯ


// 8. ОСНОВНОЙ ЗАГОЛОВОК



// 9. ШАПКА САЙТА ===============================
.main-header {
	background: {
		color: scale-color($info-color, $lightness: -10%, $saturation: -50%);
		image: url("../img/index/bunner.png");
		repeat: no-repeat;
		size: cover;
		position: center;
	}
	text-align: center;
	color: $invert-font-color;
	font-family: $titleFont;
	height: 100vh;
	position: relative;
	z-index: -1;
	@include media-breakpoint-down (xs) {
		position: static;
		height: auto;
		padding-top: 50px;
		padding-bottom: 150px;
	}
	&-box {
		position: absolute;
		left: 50%;
		top: calc(50% - 75px);
		transform: translate(-50%, -50%);	
		@include media-breakpoint-down (md) {
			max-width: 90%;
		}
		@include media-breakpoint-down (xs) {
			position: inherit;
			padding: 0;
			transform: none;
		}
	}
}

.main-title {
	margin: 0 auto;
	font-size: 4em;
	max-width: 1000px;
	letter-spacing: 0.02em;
	margin-bottom: 12px;
	@include media-breakpoint-down (md) {
		font-size: 3.2em;			
	}
	@include media-breakpoint-down (sm) {
		font-size: 2.5em;			
	}
	@include media-breakpoint-down (xs) {
		font-size: 2em;	
	}
	@include media-breakpoint-down (xxs) {
		font-size: 1.8em;	
	}
}

.main-title + p {
	//margin-top: 2.3125em;
	text-transform: uppercase;
	font-size: 1.125em;
	font-weight: 300;
}


// 10. ОСНОВНОЙ РАЗДЕЛ ===============================
//10.1 Блок статистики ===============================
.stat {	
	display: block;
	box-sizing: border-box;
	&-box {
		font-size: 1rem;
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
		margin-top: -150px;
		padding: 70px 130px 50px;
		background-color: $row-color;
		@include media-breakpoint-down (lg) {
			padding: 50px 130px 40px;		
			margin-top: -120px;	
		}
		@include media-breakpoint-down (md) {
			margin-top: -120px;
			padding: 45px 80px 35px;
		}
		@include media-breakpoint-down (sm) {
			padding: 35px 50px 30px;	
			margin-top: -90px;		
		}
		@include media-breakpoint-down (xs) {
			flex-wrap: wrap;
			padding: 30px 30px;			
		}
	}
	&-item {
		@include media-breakpoint-down (xs) {
			max-width: 50%;
			flex-basis: 50%;
			&:first-of-type {
				margin-bottom: 20px;
			}			
		}
	}
	&-item h5{
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: 1rem;
	}
	&-item-number {
		font-size: 4.5em;
		color: $info-color;
		line-height: 1.45;
		@include media-breakpoint-down (lg) {
			font-size: 4em;			
		}
		@include media-breakpoint-down (md) {
			font-size: 3.7em;			
		}
		@include media-breakpoint-down (sm) {
			font-size: 3.1em;			
		}
	}
	&-item-what {
		font-size: 2.25em;
		line-height: 1.4;
		margin-bottom: 5px;
		@include media-breakpoint-down (lg) {
			font-size: 1.6em;			
		}
		@include media-breakpoint-down (md) {
			font-size: 1.45em;			
		}
		@include media-breakpoint-down (sm) {
			font-size: 1.2em;			
		}
	}
	&-item-how {
		font-size: .89285em;
		color: $alt-font-color;
		font-weight: 500;
		@include media-breakpoint-down (lg) {
			font-size: .8em;			
		}
		@include media-breakpoint-down (md) {
			font-size: .75em;			
		}
		@include media-breakpoint-down (sm) {
			font-size: .7em;			
		}
	}
}

//10.2 Блок праздники ===============================
.holidays {
	font-size: 1rem;
	padding-top: $row-padding-top + 5px;
	padding-bottom: $row-padding-bottom - 55;
	@include media-breakpoint-down (md) {
		padding-top: ($row-padding-top + 5px)*.7;
		padding-bottom: ($row-padding-bottom - 55)*.8;			
	}
	@include media-breakpoint-down (xs) {
		padding-top: $row-padding-top*.6;
		padding-bottom: $row-padding-bottom*.5;			
	}
	.holidays-title {
		margin-bottom: $titleBottom - 17;
		@include media-breakpoint-down (xs) {
			margin-bottom: $titleBottom * .65;			
		}
	}
	&-box {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		@include media-breakpoint-down (xs) {
			flex-wrap: wrap;			
		}
	}
	&-item {
		flex-basis: 31.5%;
		max-width: 31.5%;
		@include media-breakpoint-down (xs) {
			flex-basis: 100%;
			max-width: 100%;
			text-align: center;		
			& + & {
				margin-top: 20px;
			}	
		}
	}
	img {	
		display: block;
		@include media-breakpoint-down (xs) {
			width: 200px;
			margin: 0 auto;			
		}
	}
	&-item h3 {
		margin: 45px 0 0;
		padding-top: 26px;
		position: relative;
		text-transform: capitalize;
		font-size: 1.56em;
		letter-spacing: -.4px;
		@include media-breakpoint-down (md) {
			font-size: 1.45em			
		}
		@include media-breakpoint-down (sm) {
			font-size: 1.2em;
			margin-top: 25px;	
			padding-top: 20px;		
		}
		@include media-breakpoint-down (xs) {
			margin-top: 15px;	
			padding-top: 10px;		
		}
		&::before {
			@include absolute-pseudo($width: 16%, $height: 6px);
			background-color: $info-color;
			left: 0;
			top: 0;
			@include media-breakpoint-down (sm) {
				width: 24%;			
			}
			@include media-breakpoint-down (xs) {
				width: 10%;
				right: 0;
				bottom: 0;
				margin: 0 auto;			
			}
		}
	}
}

//10.3 Блок grid ===============================
.grid {
	font-size: 1rem;
	padding-top: $row-padding-top + 53;
	@include media-breakpoint-down (md) {
		padding-top: ($row-padding-top + 53)*.8;
		padding-bottom: $row-padding-bottom*.9;			
	}
	@include media-breakpoint-down (sm) {
		padding-top: ($row-padding-top + 53)*.4;
		padding-bottom: $row-padding-bottom*.5;			
	}
	@include media-breakpoint-down (xs) {
		padding-top: $row-padding-top*.6;	
		padding-bottom: $row-padding-bottom*.6;
	}
	.grid-title {
		margin-bottom: $titleBottom - 10;
		@include media-breakpoint-down (xs) {
			margin-bottom: $titleBottom * .65;			
		}
	}
	&-box {
		display: grid;
		grid-template-areas: 'a b c' 'd e f';
		text-align: center;
		grid-gap: 32px;
		@include media-breakpoint-down (md) {
			grid-gap: 20px;			
		}
		@include media-breakpoint-down (sm) {
			grid-template-areas: 'a b' 'с d' 'e f';	
			grid-gap: 12px;		
		}
		/* @include media-breakpoint-down (xs) {
			grid-template-areas: 'a' 'b' 'с' 'd' 'e' 'f';				
		} */
		@media (max-width: 500px) {
			grid-template-areas: 'a' 'b' 'с' 'd' 'e' 'f';	
		}
	}
	h3 {
		margin: 0;
		margin-top: 15px;
		letter-spacing: 0.02em;
		font-size: 1.3125;
		line-height: 1.937rem;
		@include media-breakpoint-down (sm) {
			font-size: 1.1em;	
			line-height: 1.7rem;
			margin-top: 12px;		
		}
	}
	&-item {
		background-color: $row-color;
		line-height: 1.4;
		padding: {
			top: 55px;
			bottom: 53px;
		};
		@include media-breakpoint-down (md) {
			padding: {
				top: 40px;
				bottom: 40px;
			};			
		}
		@include media-breakpoint-down (sm) {
			padding: {
				top: 30px;
				bottom: 30px;
			}	
		}
		@media (max-width: 500px) {
			width: 200px;
			margin: 0 auto;
		}
	}
	&-item img{
		width: 60px;
		height: auto;
		@include media-breakpoint-down (sm) {
			width: 45px;			
		}
	}
	@each $name, $glyph in (1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e', 6: 'f') {
		&-item-#{$name} {
			grid-area: $glyph;
		}
	}
}

//10.4 Блок photo-grid ===============================
.photo-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	@include media-breakpoint-down (xs) {
		grid-template-columns: 1fr 1fr;	
		grid-template-rows: 1fr 1fr 1fr 1fr;		
	}
	&-item {
		position: relative;
		cursor: pointer;
		&::before {			
			@include absolute-pseudo(100%, 100%);
			background-color: hsla(233, 7, 27, .5);
			transition: .3s;
		}
		&:hover::before {
			background-color: transparent;
		}
	}
	h3 {
		font-size: 1.3125em;
	}
	img {
		display: block;
		height: 100%;
	}
}

//10.4 Блок feedback ===============================
.feedback {
	font-size: 1rem;
	padding-top: $row-padding-top + 19px;
	padding-bottom: $row-padding-bottom - 9px;
	@include media-breakpoint-down (md) {
		padding-top: ($row-padding-top + 19px)*.7;
		padding-bottom: ($row-padding-bottom - 9px)*.7;			
	}
	@include media-breakpoint-down (sm) {
		padding-top: ($row-padding-top + 19px)*.5;
		padding-bottom: ($row-padding-bottom - 9px)*.5;				
	}
	@include media-breakpoint-down (sm) {
		padding-top: $row-padding-top*.6;
		padding-bottom: $row-padding-bottom*.55;				
	}
	.section-title {
		margin-bottom: $titleBottom - 2px;
		@include media-breakpoint-down (sm) {
			margin-bottom: 	$titleBottom*.8;		
		}
		@include media-breakpoint-down (xs) {
			margin-bottom: $titleBottom * .65;			
		}
	}
	&-box {
		display: flex;
		justify-content: space-between;
		@include media-breakpoint-down (sm) {
			flex-wrap: wrap;			
		}
	}
	&-box > div {
		flex-basis: 31.5%;
		max-width: 31.5%;
		@include media-breakpoint-down (sm) {
			flex-basis: 100%;	
			max-width: 100%;
			& + div {
				margin-top: 2.5em; 
			}	
		}
	}
	&-text {
		background-color: $row-color;
		padding: 30px;
		font-size: .875em;
		line-height: 1.3125rem;
		color: $alt-font-color;
		margin: 0;
		&::before {
			content: "";
			width: 34px;
			height: 28px;
			display: block;
			margin-bottom: 20px;
			background: {
				image: url("../img/index/bq.svg");
				repeat: no-repeat;
				size: cover;
			}
		}
	}
	&-autor {
		text-transform: capitalize;
		font-size: 1.3125em;
		line-height: 1.9375rem;
		letter-spacing: 0.02em;
		font-family: $titleFont;
		margin: 36px 0 0;
		@include media-breakpoint-down (sm) {
			margin-top: 1em;
			font-size: 1.2em;	
		}
	}
}

//10.5 Блок contacts ===============================
.contacts {
	font-size: 1rem;
	padding-top: $row-padding-top + 4px;
	padding-bottom: $row-padding-bottom - 4px;
	text-align: center;
	@include media-breakpoint-down (md) {
		padding-top: ($row-padding-top + 4px)*.8;
		padding-bottom: ($row-padding-bottom - 4px)*.8;			
	}
	@include media-breakpoint-down (sm) {
		padding-top: ($row-padding-top + 4px)*.5;
		padding-bottom: ($row-padding-bottom - 4px)*.4;			
	}
	@include media-breakpoint-down (xs) {
		padding-top: $row-padding-top*.6;	
		padding-bottom: $row-padding-bottom*.3;
	}
	.section-title {
		margin-bottom: 54px;
		@include media-breakpoint-down (sm) {
			margin-bottom: $titleBottom * .8;		
		}
		@include media-breakpoint-down (xs) {
			margin-bottom: $titleBottom * .65;			
		}	
	}
	&-box {
		display: flex;
		@include media-breakpoint-down (sm) {
			flex-wrap: wrap;			
		}
	}
	&-item {
		max-width: 25%;
		flex-basis: 25%;
		@include media-breakpoint-down (sm) {
			max-width: 50%;
			flex-basis: 50%;	
			&:nth-of-type(n + 2) {
				margin-bottom: 2em;
			}		
		}
	}
	&-item-title {
		margin: 15px 0 18px;
		color: $alt-font-color;
		@include media-breakpoint-down (md) {
			margin: {
				top: 10px;
				bottom: 10px;
			};			
		}
	}
	&-description-mail {
		color: $info-color;
	}
	&-item img {
		width: 47px;
		height: 48px;
		@include media-breakpoint-down (sm) {
			width: 47px * .7;
			height: 48px * .7;			
		}
	}
	&-description {
		text-transform: uppercase;
		font-weight: 500;
		font-family: $titleFont;
	}
	&-item-title,
	&-description {
		font-size: 1.5em;
		line-height: 2.25rem;
		@include media-breakpoint-down (lg) {
			font-size: 1.4em;
			line-height: 2.1rem;			
		}
		@include media-breakpoint-down (md) {
			font-size: 1.05em;			
		}
		@include media-breakpoint-down (sm) {
			font-size: 1.1em;	
			line-height: 1.5;		
		}
	}
}


// 11. ПОДВАЛ САЙТА ===============================
.main-footer {
	align-items: center;
	padding: 30px 0;
	background-color: $dark-color;
	color: $invert-font-color;
	@include media-breakpoint-down (xs) {
		padding: 23px 0;			
	}
	&-box {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include media-breakpoint-down (sm) {
			font-size: .8rem;			
		}
		@include media-breakpoint-down (xs) {
			flex-direction: column;	
			line-height: 2;
		}
	}
	&-autor {
		margin: 0;
		letter-spacing: -.05px;
	}
	&-autor a {
		color: $info-color;
	}
}

// 12. ОСТАЛЬНЫЕ СТИЛИ
//12.1 Блок вопроов ===============================
.query {
	background-color: $info-row-color;
	color: $invert-font-color;
	text-transform: uppercase;
	font-family: $titleFont;
	padding: {
		top: 37.5px;
		bottom: 33px;
	};
	@include media-breakpoint-down (md) {
		padding: {
			top: 35.5px;
			bottom: 30px;
		};			
	}
	@include media-breakpoint-down (xs) {
		padding: {
			top: 20px;
			bottom: 25px;
		};		
	}
	&-title {
		margin: 0;
		font-size: 3em;
		letter-spacing: 0.045em;
		@include media-breakpoint-down (md) {
			font-size: 2.7em;			
		}	
		@include media-breakpoint-down (sm) {
			font-size: 2.0em;	
		}
	}
	&-box {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include media-breakpoint-down (xs) {
			flex-direction: column;
			align-items: center;
			text-align: center;			
		}
	}
	&-description {
		font-size: 1.5em;
		margin: 0;
		letter-spacing: 0.05em;
		line-height: 1.7;
		@include media-breakpoint-down (lg) {
			font-size: 1.5em;			
		}
		@include media-breakpoint-down (sm) {
			font-size: 1.1em;			
		}
	}
}
//импорт других страниц