$distance: 60;
$invert-distance: $distance * -1;

// the main colors
$base-color: hsl(0, 0%, 100%); // базовый цвет
$invert-base-color: adjust-color($base-color, $lightness: -100%); // сомплементарный цвет базовому
$error-color: adjust-hue($base-color, $distance); //цвет ошибки
$info-color: adjust-color($base-color, $lightness: -37%, $saturation: 92%, $hue: 9); //цвет информации и элементов
$succes-color: complement($error-color); // цвет успеха
$warn-color: complement($info-color); // цвет предупреждения, внимания

$dark-color: adjust-color($invert-base-color, $hue: -$distance*2-7, $saturation: 7%, $lightness: 27%);

// font-color
$font-color: hsl(0, 0, 0);
$alt-font-color: adjust-color($font-color, $lightness: 60%);
$invert-font-color: invert($font-color, $weight: 100%);
// font-shadow-color

// link-color

// buttons color for a carousel
$query-button: hsl(0, 0%, 100%);

// round-border

// row-color
$row-color: adjust-color($base-color, $lightness: -3%);
$alt-row-color: scale-color($base-color, $saturation: -100%, $lightness: -55%);
$info-row-color: $info-color;


/* 
Example:
   @alert-primary-bg: lighten(@base-color, 35%);
   @alert-primary-border: darken(spin(@alert-primary-bg, -10), 5%);
   @alert-primary-text: darken(@alert-primary-bg, 50%); */